[Unit]
Description=DeskCon Server Unit
After=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/deskcon-server

[Install]
WantedBy=default.target